div.ui.button{
    background-color: indianred;
}

div.ui.button.active{
    background-color: lightgreen;
}

div.ui.button a{
    color: black;
}

.text-editor .document{
    height: 150px;
    width: 600px;
    border: 2px solid indianred;
}

.editor-tools{
    display: none;
}

.show {
    display: block;
}

.show-toolbar {
    width: 5px;
    height: 5px;
}
